.autocompletar{
    position: relative;
    width: 15rem;
    color: black;
}
.AutoCompleteList-visible{
    display: block;
}

.AutoCompleteList-hidden{
    display: none;
}

.AutoCompleteList-deleteOption {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    border: none;
}

.AutoCompleteList-deleteOption:focus,
.AutoCompleteList-deleteOption:active,
.AutoCompleteList-deleteOption:hover  {
    border: none;
    outline: none;
}

.AutoCompleteList-input{
    height: 1.5rem;
    display: flex;
    width: 100%;
}

.AutoCompleteList-input input{
    flex: 1;
}

.optionsContainer{
    width: 100%;
    z-index: 9;
    background-color: white;
    position: absolute;
    max-height: 20rem;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.optionsContainer li{
    list-style: none;
    margin-left: 0;
    cursor: pointer;
    text-align: left;
}

.optionsContainer li:nth-child(even){
    background-color: #e7e7e7;
}

.optionsContainer li:hover{
    background-color: cyan;
}